.text-label {
    text-align: start;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
