.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}


.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

// ------------ NORMAL - 400 -------------

.font-normal-10{
  font-weight: 400 !important;
  font-size: 10px;
  line-height: 12px;
}

.font-normal-12{
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px;
  line-height: 16px;
}

.font-normal-13{
  font-style: normal;
  font-weight: 400 !important;
  font-size: 13px;
  line-height: 12px;
}

.font-normal-14{
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 12px;
}

.font-normal-discription-16 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8391A1;
}

// ------------ MEDIUM - 500 -------------

.font-medium-16 {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 24px;
}


.font-medium-20 {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 20px;
  line-height: 24px;
}

.font-medium-22 {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 22px;
  line-height: 27px;
}

.font-medium-24 {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 24px;
  line-height: 28px;
}

.font-medium-32 {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 32px;
  line-height: 28px;
}

.font-medium-35 {
  font-style: normal;
  font-weight: 500 !important;
  font-size: 35px;
  line-height: 20px;
}

// ------------ SEMI-BOLD - 600 -------------

.font-semi-bold-16 {
  font-style: normal;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 20px;
}

.font-semi-bold-20 {
  font-style: normal;
  font-weight: 600 !important;
  font-size: 20px;
  line-height: 24px;
}

// ------------ BOLD - 700 -------------

.font-bold-14{
  font-style: normal;
  font-weight: 700 !important;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.font-bold-16 {
  font-style: normal;
  font-weight: 700 !important;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

// ------------ EXTRA-BOLD - 800 -------------

.font-extra-bold-18 {
  font-style: normal;
  font-weight: 800 !important;
  font-size: 18px;
  line-height: 20px;
}

// 100 – Thin
// 200 – Extra Light (Ultra Light)
// 300 – Light
// 400 – Normal
// 500 – Medium
// 600 – Semi Bold (Demi Bold)
// 700 – Bold
// 800 – Extra Bold (Ultra Bold)
// 900 – Black (Heavy)