.error {
    text-align: left;
    color: red;
    display: flex;
    gap: 5px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #F32A00;
}